@use "sass:map";
@use "../../../theme.scss" as theme;

.product{
    padding:10px 0px;
    cursor: pointer;
    &-container{
        &__image{
            min-height: 165px;
        }
    }
    .mat-card{
        height: 100%;
        &:hover{
            box-shadow: 6px 9px 8px 3px theme.$primary;
            .mat-card-footer{
                p{
                    color:darken(theme.$primary,30%);
                }
            }
        }
        &-footer{
            padding:0px 15px;
            p{
                color:theme.$primary;
                transition: color .5s;
            }
        }
    }
    img{
        width:100%;
    }
}